:root {
    //Setting 1rem to 10px
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: var( --font-titles);
  }
  
  a {
    text-decoration: none;
    outline: none;
  }
  
  ul {
    list-style: none;
  }
  