.categories{
    margin: 0 5% 0 5%;
    font-family: var(--font-subtitles);
    position: relative;
    height: calc(100vh - 50px);
    
    &__container{
        height: 80%;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    &__title{
        font-size: 1.8rem;
        color: var(--color-primary-rotate);
        padding-top: 1rem;
    }

    &__card{
        margin: 1rem 0;
        padding: 1rem 2.5rem;
        background-color: var(--color-white);
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        align-items: center;
        color: var(--color-secondary);
 
        &-img{
            width: 4rem;
        }

        &-info{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &-date{
                font-size: 1.2rem;
            }
        }

        &-qty{
            font-weight: 700;
            text-align: center;
        }

    }

    &__button{
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding-bottom: 2rem;
    }
}