.link {
    font-weight: bold;
    text-decoration: none;
    color: var(--color-white);
    font-family: var( --font-subtitles);
  
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
    }
  
    // Modifiers will go there
  }

  .link__msg{
    font-size: 1.3rem;
    color: var(--color-primary-rotate);
    font-size: 500;
  }

  .link__button{
    background-color: transparent;
    border: transparent;
    color: var(--color-white);
    font-size: 1.6rem;
  }

  .lg{
    font-size: 2rem;
    font-weight: bold;
  }