<%= render "shared/navbar" %>

<p style="color: green"><%= notice %></p>

<div class="categories">
<h1 class="categories__title">Categories:</h1>

<div id="categories" class="categories__container">
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
</div>
<div class="categories__button">
<%= link_to "New category", new_category_path, class: "btn-solid"  %>
</div>
</div>