<p style="color: green"><%= notice %></p>

<h1>Operations</h1>
<%= @category.name %>
<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>

  <% end %>
</div>

<%= link_to "New operation", new_category_operation_path %>
